@font-face {
	font-family: Ubuntu;
	src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: Baloo Bhai;
	src: url(fonts/BalooBhai-Regular.ttf);
}


/*Home*/


#Home {
	min-height: 55px;
}

#Home h1 {
	font-family: 'Baloo Bhai', cursive;
	font-size: 35px;
	cursor: pointer;
	margin-left: 100px;
	float: left;
	margin-top: -5px;
	margin-bottom: -10px;
}

#Home .firstname {
	color: #555555;
}

#Home .firstname:hover {
	color: #4caf50;
}

#Home h2 {
	font-family: 'Ubuntu', sans-serif;
	float: right;
	font-size: 20px;
	font-weight: lighter;
	margin-right: 50px;
	margin-top: 10px;
}

#Home h1 a {
	text-decoration: none;
	color: #4caf50;
}

@media screen and (max-width: 1000px) {

#Home {
	min-height: 80px;
}

#Home h1 {
 	float: none;
 	text-align: center;
 	margin: 0;
 }

#Home h2 {
	float: none;
	text-align: center;
	margin: 0;
	margin-left: 55px;
}

}

@media screen and (max-width: 383px) {

	#Home {
		min-height: 55px;
	}

	#Home h2 {
		display: none;
	}
}


/*%Home*/


/*Navbar*/


#Navbar.fixed {
	top: 0;
	min-width: 120%;
	position: fixed;
}

#Navbar .dropdown-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4caf50;
	width: 120%;
	margin-left: -10px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

#Navbar .dropdown {
	float: left;
}

#Navbar .dropdown a {
	font-family: 'Ubuntu', sans-serif;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

#Navbar .dropdown-content {
	display: none;
	position: absolute;
	min-width: 150px;
	background-color: #4caf50;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

#Navbar .dropdown-content a {
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 18px;
}

#Navbar .dropdown:hover .dropdown-content {
	display: block;
	background-color: #555555;
}

#Navbar .dropdown:hover {
	background-color: #555555;
}

#Navbar .dropdown-content a:hover {
	background-color: seagreen;
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2)
}

#Navbar .dropdown-menu {
	display: none;
}

@media screen and (max-width: 383px) {

#Navbar .menu {
	display: none;
}

#Navbar .dropdown-menu {
	display: block;
	max-width: 50px;
}

#Navbar .dropdown-menu .dropdown{
	float: none;
	min-width: 100px;
	display: none;
}

#Navbar .dropdown-menu .button {
	display: block;
	text-align: left;
	padding: 14px 16px;
	font-size: 18px;
	max-width: 55px;
	overflow: hidden;
}

#Navbar .button a{
	text-align: left;
	color: white;
}

#Navbar .dropdown-menu .dropdown a{
	text-align: left;
}

#Navbar .dropdown-menu .dropdown-content {
	position: absolute;
	left: 98px;
	margin-top: -49px;
}

#Navbar .button:hover {
	background-color: #555555;
}

#Navbar .dropdown-menu:hover .dropdown {
	display: block;
}

}

#Navbar .dropdown-menu .dropdown-content.fixed {
	position: absolute;
	left: 90px;
}

}


/*%Navbar*/

p {
	font-size: 40px;
	
}




/*
#Navbar .dropdown:hover .dropdown-content {
	display:;	
	left: 200px;
}

#Navbar .fa-bars {
	padding: 14px 16px;
	display: block;
	text-align: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}



#Navbar li {
	float: none;
}

#Navbar li a {
	text-align: left;
}

*/