/*Home*/

h1 {
	font-family: 'Baloo Bhai', cursive;
	font-size: 35px;
	cursor: pointer;
	margin-left: 100px;
	float: left;
	margin-top: -5px;
}

.firstname {
	color: #555555;
}

.firstname:hover {
	color: #4caf50;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	float: right;
	font-size: 20px;
	font-weight: lighter;
	margin-right: 50px;
	margin-top: 10px;
}

h1 a {
	text-decoration: none;
	color: #4caf50;
}

@media screen and (max-width: 1000px) {
	h1 {
		text-align: center;
		float: none;
		margin: 0px;
	}
	h2 {
		margin-left: 105px;
		margin-top: -10px;
		text-align: center;
		float: none;		
	}
}
@media screen and (max-width: 383px) {
	h2 {
		display: none;
	}
}

/*%Home*/

